header img {
    display: none;
}
header {
    background-color: rgb(255, 223, 80);
    border-radius: 0 0 10px 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.main-section {
    background-image: url("Gemini_Generated_Image_4gg6rs4gg6rs4gg6"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 50px;
}
.content-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}
.content-text {
    width: 50%;
    border-radius: 15px;
    text-shadow: 2px 2px 4px rgba(136, 0, 0, 0.8);
}
nav {
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: brown;
    padding: 5px 15px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

nav a:hover {
    color: rgb(94, 33, 14);
    background-color: rgb(255, 145, 0);
    border-radius: 0px 20px 0px 20px;
    box-shadow: 5px 5px 5px red;
    transition: 0.5s;
}
